<form name="{{formName}}" id="{{formID}}" class="profile__information">
        {{# each inputs}}
            {{{ this }}}
        {{/each}}
        {{#if store.state.profileFormError}}
            <div class="form__profile-error">{{store.state.profileFormError}}</div>
        {{/if}}
</form>
