<div class="modal__form__container">
        <div class="modal__form__header">
            <h2 class="modal__form__title"> Upload file</h2>
        </div>
        <form id="{{formID}}" name="{{name}}" class="modal__form__content">
            <div class="modal__form__content__inputs">
                {{{input}}}
            </div>
            <div class="modal__form__content__buttons">
                <button name="{{buttonName}}" class="button button__main modal__form__button">Upload</button>
            </div>
        </form>
</div>
