<div>
    <div class="modal">
        <div class="modal__container">
            {{#if modalWithInputText}}
                {{{modalWithInputText}}}
            {{/if}}
            {{#if uploadFile}}
                {{{uploadFile}}}
            {{/if}}
        </div>
    </div>
</div>
