<form id="change_password" class="profile__information">
    <div class="profile__information__items">
        <label for="password" class="profile__information__title">Old password</label>
        <input id="password" type="password" class="profile__information__value-edit" name="password">
    </div>
    <div class="profile__information__items">
        <label for="new_password" class="profile__information__title">New password</label>
        <input id="new_password" type="password" class="profile__information__value-edit" name="new_password">
    </div>
    <div class="profile__information__items">
        <label for="repeat_password" class="profile__information__title">Repeat</label>
        <input id="repeat_password" type="password" class="profile__information__value-edit" name="repeat_password">
    </div>
</form>
