<form id="change_profile_information" class="profile__information">
    <div class="profile__information__items">
        <label for="email" class="profile__information__title">E-mail</label>
        <input class="profile__information__value-edit" name="email" id="email" value = "pochta@yandex.ru">
    </div>
    <div class="profile__information__items">
        <label for="login" class="profile__information__title">Login</label>
        <input class="profile__information__value-edit" name="login" id="login" value = "ivanivanov">
    </div>
    <div class="profile__information__items">
        <label for="first-name" class="profile__information__title">First name</label>
        <input class="profile__information__value-edit" name="first-name" id="first-name" value = "Иван">
    </div>
    <div class="profile__information__items">
        <label for="second_name" class="profile__information__title">Second name</label>
        <input class="profile__information__value-edit" name="second_name" id="second_name" value = "Иванов">
    </div>
    <div class="profile__information__items">
        <label for="display_name" class="profile__information__title">Display name</label>
        <input class="profile__information__value-edit" name="display_name" id="display_name" value = "Иван">
    </div>
    <div class="profile__information__items">
        <label for="phone" class="profile__information__title">Phone</label>
        <input type="tel" class="profile__information__value-edit" name="phone" id="phone" value = "+7 (909) 967 30 30">
    </div>
</form>
